.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.nav-bar {
  display: block;
  padding-bottom: 20px;
  border-bottom: 2px solid #949494;
}
.nav-btn {
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 10px;
  color: #797979;
  background: transparent;
  height: 36px;
  min-width: 7em;
  border: 2px solid #949494;
}

h1 {
  margin: auto;

  padding: 10px;
  color: #333333;
  border-style: solid;
  border-radius: 10px;
  max-width: 150px;
  min-width: 150px;
}
h2 {
  color: #333333;
  font-size: large;
}
h3 {
  padding: 5px;
  color: #376bf8;
}
section {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

input {
  padding: 0;
  max-width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  font-size: larger;
}

label {
  padding: 0;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cta-btn {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 25px;
  background-color: rgb(71, 74, 83);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  min-width: 80px;
  min-height: 30px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.quiz-question {
  padding-top: 2em;
  padding-bottom: 2em;
}

.radio-buttons {
  display: inline;
  padding-top: 4em;
}
